<div>
    <h2 class="page_title">CART</h2>
    <div class="cartContainer">
        <h3>Cart ID: {{cart._id}}</h3>
        {{#if cart.products.length}}
            <h4>Products in Cart:</h4>
            <div class="productsContainer">
                {{#each cart.products}}
                    <div class="product">
                        <h3>{{this.product.title}}</h3>
                        <p>Price: ${{this.product.price}}</p>
                        <p>Quantity: {{this.quantity}}</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No products in the cart.</p>
        {{/if}}
    </div>
</div>